<% content_tag_for :li, resource do %>
  <% if admin? %>
    <span class="adminhandle">[drag]</span>
  <% end %>
  <strong><%=h resource.name %></strong>
  <% if admin? %>
    <%= render :partial => 'events/adminlinks',
    :locals => { 
      :editpath => edit_resource_path(resource),
      :destroypath => resource_path(resource) 
    } %>
  <% end %>
  <span><%= link_to "Download", resource.file.url %></span>
  <p><%=h resource.description %></p>
<% end %>
